<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>tōnr</title>

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon-precomposed" href="">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<h1>demo</h1>
<!-- iphone wrapper -->
<div class="l-wrapper">
  {{{body}}}
</div>
<!-- end iphone wrapper -->

<script src="javascripts/editor.js"></script>
</body>
</html>