<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TONR</title>

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon-precomposed" href="">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<nav class="m-nav">
  <div class="l-wrapper">
    <h1 class="m-nav__logo">
      <svg viewBox="0 0 190 66.61">
        <title>{{title}}</title>
        <path d="M37.34,61.62c-3.67,3.43-10.38,5-15,5-8.8,0-15.5-5-15.5-15.22V28.56H0V18.84H6.88V5.27h14V18.84H39.08l-4.79,9.81H20.91V49c0,4.13,1.74,5.78,4.77,5.69a16.4,16.4,0,0,0,6.6-1.83Z"/>
        <path d="M92.06,41.3c0,15-10.64,25.22-26.41,25.22S39.16,56.34,39.16,41.3s10.64-25.12,26.5-25.12S92.06,26.17,92.06,41.3Zm-38.69.18c0,8.07,5,13.57,12.29,13.57s12.29-5.5,12.29-13.57-5-13.57-12.29-13.57S53.37,33.42,53.37,41.48Z"/>
        <path d="M148,35V66H133.84V39.1c0-6.24-3.67-10.09-9.72-10.09-7.06.09-11.28,5.41-11.28,12.65V66H98.72V16.64h14.12v8.62c3.48-6.14,9.35-9.08,17.05-9.17C140.9,16.09,148,23.42,148,35Z"/>
        <path d="M168.89,24.47c2.61-8.45,7-8.38,21.11-8.38l-5.85,13.3c-10.08-.92-15.25,4.49-15.25,12.84V66H154.77V16.64h14.12v7.83Z"/>
        <rect x="47.05" width="35.67" height="10.11" fill="#f6aa1c"/>
      </svg>
    </h1>

    <a class="m-nav__profile">
      <svg viewBox="0 0 36 36">
        <title>Log in</title>
        <path d="M36,31.71V36H0V31.71L12,24V21q-1.11,0-2.05-2.23A10.05,10.05,0,0,1,9,15V9a8.67,8.67,0,0,1,2.64-6.36A8.67,8.67,0,0,1,18,0a8.67,8.67,0,0,1,6.36,2.64A8.67,8.67,0,0,1,27,9v6a10.05,10.05,0,0,1-.95,3.77Q25.11,21,24,21v3Z"/>
      </svg>
    </a>
  </div>
</nav>

<div class="l-wrapper">
  {{{body}}}
</div>

  <script src="javascripts/editor.js"></script>
</body>
</html>