<h1>Hello and welcome to {{title}}</h1>
<canvas id="canvas" width="200" height="200"></canvas>
<div id="button-container">
  <div class="button" id="button">
    Upload file
  </div>
  <input type="file" id="file-input" name="file-input" style="display: none;">
</div>
<img id="uploaded-img" style="display: none;">