<div class="m-img">
  <canvas class="m-img__canvas" id="canvas" width="2000" height="2000"></canvas>
</div>

<div class="m-upload">
  <div id="button-container" class="m-upload__container">
    <div class="button" id="button">
      Upload image
    </div>
    <input type="file" id="file-input" name="file-input" style="display: none;">
  </div>
  <img id="uploaded-img" style="display: none;">
</div>

<div class="m-filter-select">
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">New York</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Atlanta</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Oakland</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Washington</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">New York</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Atlanta</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Oakland</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Washington</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">New York</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Atlanta</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Oakland</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter">
    <span class="m-filter-select__label">Washington</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
</div>

<div class="m-gallery">
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
</div>

<nav class="m-context-nav">
  <button>
    close
  </button>
  <h1 class="m-context-nav__location">Choose a filter</h1>
  <button>
    next
  </button>
</nav>