<nav class="m-nav">
  <div>
    <h1 class="m-nav__logo">
      <svg viewBox="0 0 190 66.61">
        <title>tōnr</title>
        <path d="M37.34,61.62c-3.67,3.43-10.38,5-15,5-8.8,0-15.5-5-15.5-15.22V28.56H0V18.84H6.88V5.27h14V18.84H39.08l-4.79,9.81H20.91V49c0,4.13,1.74,5.78,4.77,5.69a16.4,16.4,0,0,0,6.6-1.83Z"/>
        <path d="M92.06,41.3c0,15-10.64,25.22-26.41,25.22S39.16,56.34,39.16,41.3s10.64-25.12,26.5-25.12S92.06,26.17,92.06,41.3Zm-38.69.18c0,8.07,5,13.57,12.29,13.57s12.29-5.5,12.29-13.57-5-13.57-12.29-13.57S53.37,33.42,53.37,41.48Z"/>
        <path d="M148,35V66H133.84V39.1c0-6.24-3.67-10.09-9.72-10.09-7.06.09-11.28,5.41-11.28,12.65V66H98.72V16.64h14.12v8.62c3.48-6.14,9.35-9.08,17.05-9.17C140.9,16.09,148,23.42,148,35Z"/>
        <path d="M168.89,24.47c2.61-8.45,7-8.38,21.11-8.38l-5.85,13.3c-10.08-.92-15.25,4.49-15.25,12.84V66H154.77V16.64h14.12v7.83Z"/>
        <rect x="47.05" width="35.67" height="10.11" fill="#f6aa1c"/>
      </svg>
    </h1>

    <a class="m-nav__profile">
      <svg viewBox="0 0 36 36">
        <title>Log in</title>
        <path d="M36,31.71V36H0V31.71L12,24V21q-1.11,0-2.05-2.23A10.05,10.05,0,0,1,9,15V9a8.67,8.67,0,0,1,2.64-6.36A8.67,8.67,0,0,1,18,0a8.67,8.67,0,0,1,6.36,2.64A8.67,8.67,0,0,1,27,9v6a10.05,10.05,0,0,1-.95,3.77Q25.11,21,24,21v3Z"/>
      </svg>
    </a>
  </div>
</nav>

<div class="m-img">
  <canvas class="m-img__canvas" id="canvas" width="2000" height="2000"></canvas>
  <article class="m-about">

<h1>Why tonr? Why now?</h1>
<p>Photography has a <a href="http://www.racked.com/2015/7/7/8906343/instagram-racism">long</a> <a href="http://priceonomics.com/how-photography-was-optimized-for-white-skin/">history</a> of <a href="http://www.npr.org/sections/codeswitch/2014/04/16/303721251/light-and-dark-the-racial-biases-that-remain-in-photography">racism</a>. Design is supposed to be unbiased but as we all know, intentionally or not, there is always room for human error and subconscious prejudice. When film photography was first developed, technicians measured good contrast, color and brightness using a reference photo that included a white model; these were called ‘Shirley’ cards. As a result of film manufacturers only using images of white people as reference, film has been notoriously bad at producing good images of people of color.</p>
<p>Our society is pushing towards representation of more types of faces, more bodies, more identities. Some of the more popular social media platforms include filters that emulate film but do not correct for the racial disparities. Many filters literally whitewash people of colors’ skin, either by overexposure or changing contrast of darker tones.</p>
<p>With tonr, our team wanted to create an inclusive app with a variety of photo filters that amplifies how beautiful a variety of skin tones are instead of washing them out. The goal of tonr is to create filters that affirm that black, brown and other skin tones are beautiful. We looked towards deepening the subjects’ skin instead of lightening, emphasizing the richness and saturation of melanin and playing with interesting color overlays.</p>
<p>This project was created during a 2016 <a href="http://product.voxmedia.com/">Vox Media</a> hackathon by <a href="https://twitter.com/brtttny">Brittany Holloway-Brown</a>, <a href="https://twitter.com/aleshacreates">Alesha Randolph</a>, <a href="https://twitter.com/pam_yam">Pam Assogba</a>, <a href="https://twitter.com/aidanfeay">Aidan Feay</a>, and <a href="https://twitter.com/scottkellum">Scott Kellum</a> to explore and address the above issues. If you would like to contribute, check out <a href="https://github.com/voxmedia/tonr">tonr on github</a>.</p>

  </article>
</div>

<div class="m-upload">
  <input type="file" id="file-input" name="file-input" style="display: none;"/>
  <label for="file-input" class="button">
    <svg viewBox="0 0 36 33">
      <path d="M36,1.32V31.68a1.29,1.29,0,0,1-.37.93,1.26,1.26,0,0,1-.95.39H1.32a1.27,1.27,0,0,1-.93-0.39A1.27,1.27,0,0,1,0,31.68V1.32A1.27,1.27,0,0,1,.39.39,1.27,1.27,0,0,1,1.32,0H34.68a1.26,1.26,0,0,1,.95.39A1.3,1.3,0,0,1,36,1.32ZM33,3H3V25.11l7.41-5.46,8.94,3.93L17.13,18.9l8.79-9.54L33,18V3ZM13.11,7.65a3.88,3.88,0,0,1,1.17,2.85,4,4,0,0,1-4,4,4,4,0,0,1-4-4,4,4,0,0,1,4-4A3.88,3.88,0,0,1,13.11,7.65Z"/>
    </svg>
    Select photo
  </label>
  <div class="button" id="download" style="display: none;">
    <svg viewBox="0 0 33 36">
      <path d="M0.75,27H32.19a0.81,0.81,0,0,1,.57.22,0.7,0.7,0,0,1,.24.53V36H0V27.75a0.73,0.73,0,0,1,.21-0.54A0.73,0.73,0,0,1,.75,27ZM21,12V0H12V12H3L16.35,27l13.5-15H21Zm9,18H27v1.5h3V30Z"/>
    </svg>
    Download photo
  </div>
  <img id="uploaded-img" style="display: none;">
  <img id="default-img" style="display: none;" src="images/bg.jpg">
</div>

<div class="m-filter-select" style="display: none;">
  <button class="m-filter-select__filter" data-filter="grayscale">
    <span class="m-filter-select__label">Grayscale</span>
    <img class="m-gallery__img" src="/images/grayscale.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="cottoncandy">
    <span class="m-filter-select__label">Cotton Candy</span>
    <img class="m-gallery__img" src="/images/cottoncandy.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="golden">
    <span class="m-filter-select__label">Golden</span>
    <img class="m-gallery__img" src="/images/golden.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="galore">
    <span class="m-filter-select__label">Galore</span>
    <img class="m-gallery__img" src="/images/galore.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="glow">
    <span class="m-filter-select__label">Glow</span>
    <img class="m-gallery__img" src="/images/glow.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="newyork">
    <span class="m-filter-select__label">New York</span>
    <img class="m-gallery__img" src="/images/newyork.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="oakland">
    <span class="m-filter-select__label">Oakland</span>
    <img class="m-gallery__img" src="/images/oakland.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="la">
    <span class="m-filter-select__label">LA</span>
    <img class="m-gallery__img" src="/images/la.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="sorbet">
    <span class="m-filter-select__label">Sorbet</span>
    <img class="m-gallery__img" src="/images/la.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="cherrybomb">
    <span class="m-filter-select__label">Cherry Bomb</span>
    <img class="m-gallery__img" src="/images/la.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="strut">
    <span class="m-filter-select__label">Strut</span>
    <img class="m-gallery__img" src="/images/la.jpg">
  </button>
  <button class="m-filter-select__filter" data-filter="moon">
    <span class="m-filter-select__label">Moon</span>
    <img class="m-gallery__img" src="/images/la.jpg">
  </button>
</div>
