<div class="m-img">
  <canvas class="m-img__canvas" id="canvas" width="2000" height="2000"></canvas>
  <article class="m-about">

<h1>Why tonr? Why now?</h1>
<p>Photography has a <a href="http://www.racked.com/2015/7/7/8906343/instagram-racism">long</a> <a href="http://priceonomics.com/how-photography-was-optimized-for-white-skin/">history</a> of <a href="http://www.npr.org/sections/codeswitch/2014/04/16/303721251/light-and-dark-the-racial-biases-that-remain-in-photography">racism</a>. Design is supposed to be unbiased but as we all know, intentionally or not, there is always room for human error and subconscious prejudice. When film photography was first developed, photography technicians measured good contrast, color and brightness using a reference photo that included a white model; these were called ‘Shirley’ cards. TKTKTK</p>
<p>We live in a generation that wants to see more faces, more bodies, and more identities represented. Instagram and Snapchat, some of the more popular social media platforms, still use filters that literally whitewash people of colors’ skin, either by overexposure or TK.</p>
<p>With tonr, our team wanted to create an inclusive app which included a variety of photo filters that amplifies how beautiful “other” skin tones instead of washing them out. We looked towards deepening the subjects’ skin instead of lightening it, playing with interesting color overlays</p>

  </article>
</div>

<div class="m-upload">
  <div id="button-container" class="m-upload__container">
    <a class="button" id="button">
      Upload image
    </a>
    <a href="" class="button" id="download">
      Download image
    </a>
    <input type="file" id="file-input" name="file-input" style="display: none;">
  </div>
  <img id="uploaded-img" style="display: none;">
  <img id="default-img" style="display: none;" src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/6780599/bg.0.jpg">
</div>

<div class="m-filter-select">
  <button class="m-filter-select__filter" data-filter="grayscale">
    <span class="m-filter-select__label">Grayscale</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter" data-filter="cottoncandy">
    <span class="m-filter-select__label">Cotton Candy</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter" data-filter="golden">
    <span class="m-filter-select__label">Golden</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter" data-filter="galore">
    <span class="m-filter-select__label">Galore</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-filter-select__filter" data-filter="glow">
    <span class="m-filter-select__label">Glow</span>
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
</div>
