<div class="m-img">
  <canvas class="m-img__canvas" id="canvas" width="200" height="200"></canvas>
</div>

<div class="m-upload">
  <div id="button-container" class="m-upload__container">
    <div class="button" id="button">
      Upload image
    </div>
    <input type="file" id="file-input" name="file-input" style="display: none;">
  </div>
  <img id="uploaded-img" style="display: none;">
</div>

<div class="m-gallery">
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
  <button class="m-gallery__action">
    <img class="m-gallery__img" src="https://placekitten.com/200/200">
  </button>
</div>

