/*/////////////*/
/* BASE STYLES */

body {
  margin: 0;
  padding: 0 0 40px;
  font-family: Montserrat, sans-serif;
  background-color: #2c2c2c;
  color: #fff;
  line-height: 1.2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: inherit;
}

svg {
  fill: currentColor;
  height: 1em;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  margin: 0;
}

button,
.button {
  outline:0;
  cursor: pointer;
}

/*////////*/
/* LAYOUT */
.l-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/*/////////*/
/* MODULES */
.m-nav {
  background-color: #111;
  padding-left: 12px;
  border-bottom: 1px solid #787878;
  font-size: 20px;
  line-height: 1;
}
.m-nav .l-wrapper {
  display: flex;
  justify-content: space-between;
}
.m-nav__logo {
  font-size: 30px;
  padding: 7px 0 0;
}
.m-nav__profile {
  color: #f68622;
  border-left: 1px solid #787878;
  padding: 12px;
  display: block;
}

.m-img {
}
.m-img__canvas {
  width: 100%;
}

.m-upload {
  padding: 10px;
  text-align: center;
}
.m-upload .button {
  background-color: #111;
  color: #f6aa1c;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  transition: all .2s;
}
.m-upload .button:first-child {
  margin-top: 0;
}
.m-upload .button:hover {
  background-color: #f6aa1c;
  color: #fff;
}

.m-filter-select {
  white-space: nowrap;
  overflow: auto;
  font-size: 0;
  padding: 0 0;
}
.m-filter-select__filter {
  display: inline-block;
  width: 30%;
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.m-filter-select__label {
  background-color: #111;
  display: block;
  margin: 0 -5px;
  padding: 10px;
  border: 0 solid #787878;
  border-width: 1px 0;
}
.m-filter-select__filter img {
  display: block;
  margin: 10px 0 0;
  width: 100%;
}
.m-filter-select::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #111;
}
.m-filter-select::-webkit-scrollbar-thumb {
  background: #f6aa1c;
}