// Configuration
$font-family: montserrat;
$font-size: 12; // unitless px value
$line-height: 1.2;

$max-width: 800px;
$img-border: 1px;

$primary:       #f6aa1c;
// $secondary:     #f68622;
$bkg:           #2c2c2c;
$bkg-alt:       #111;
$text:          #fff;

// Modules
@import 'base';
@import 'modules';